/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

ul.rig {
	list-style: none;
	font-size: 0;
	margin-left: -2.5%;
/* should match li left margin */
}

ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 0 solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 0 #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig li img {
	max-width: 70%;
	height: auto;
	margin: 0;
}

ul.rig li h3 {
	margin: 0 0 5px;
}

ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}

/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%;
/* this value + 2.5 should = 50% */
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%;
/* this value + 2.5 should = 33% */
}

/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%;
/* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0;
	}
	
	ul.grid-nav li a {
		display: block;
	}
	
	ul.rig {
		margin-left: 0;
	}
	
	ul.rig li {
		width: 100% !important;
	/* over-ride all li styles */
		margin: 0;
	}
}

ul.rig li a h4 {
	text-decoration: none;
}

/* Changes bg color of hover on mobile slide menu*/
ul.side-nav li:hover, ul.side-nav li.active {
      background-color: #000 !important; }

/* No drop shadow on text of first card */
.card-title:not(.main-ad) {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
}

/* Color changes */
.red.darken-4 {
  background-color: #C91832 !important; }

.red-text.text-darken-4 {
  color: #C91832 !important; }

.red-text.text-darken-4 {
  color: #C91832 !important; }

/* Custom Fonts */
@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamHTF-Thin.otf");
  font-weight: 200; }

@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamHTF-Light.otf");
  font-weight: 300; }

@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamHTF-Book.otf");
  font-weight: 400; }

@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamHTF-Medium.otf");
  font-weight: 500; }

@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamHTF-Bold.otf");
  font-weight: 700; }

html {
  font-family: "Gotham";
}

nav {
  position: fixed;
  z-index: 10000;
  top: 0;
  margin: auto;
}

.sponsors-main-page {
  padding-top: 64px;
}

